<h1>New admin</h1>

<% admin_form_for(@admin, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= admin_link_to 'Back', {:action => "index"} %>
