<table>
  <% list = [:title, :author, :description] %>
  <% list = [:isbn, *list] if show_isbn %>
  <% for i in list do %>
    <tr><td>
        <%= f.label i %>
      </td><td>
        <%= f.text_field i %>
      </td></tr>
  <% end %>
</table>
