<table border="1" style="border-collapse: collapse;">
  <% if title && title.length > 0 %>
    <tr><th colspan="2"><%= title %></th></tr>
  <% end %>
  <% for i in MarcHelper.show_list do %>
    <tr><td>
        <%= f.label i %>
      </td><td>
        <%= f.text_field i, :class => "book_field" %>
      </td></tr>
  <% end %>
</table>
<% if disabled == true %>
  <%= javascript_tag "var a = document.getElementsByClassName('book_field'); for(var i = 0; i < a.length; i += 1){field = a[i]; field.readOnly = true}" %>
<% end %>
