<table>
  <% list = [:isbn, :title, :author, :description] %>
  <% for i in list do %>
    <tr><td>
        <%= f.label i %>
      </td><td>
        <%= f.text_field i %>
      </td></tr>
  <% end %>
</table>
