<% @books.each do |b| %>
  <p><%= link_to b.title, :action => "show_book", :id => b.id %></p>
<% end %>
<%= will_paginate @books, :remote_options => {:loading => show_loading_indicator("library_search")}, :params => {:search => {:query => params[:search][:query]}} %>
