<div class="noblock">
  <% if @method == "book" %>
    Found existing book with ISBN #<%= @book.isbn %><br />
    <% @obj = @book %><%# marc %>
  <% else %>
    Got information from the Library of Congress database<br />
    <% @obj = @marc %>
  <% end %>
  <% form_for @obj, :url => "nowheresville" do |f| %>
  <%= render :partial => "book_form", :locals => {:f => f, :show_isbn => false} %>
<% end %>
</div>
<%= javascript_tag "if($$('.edit_zoom_helper_marc')) $$('.edit_zoom_helper_marc').first().disable()" %>
<%= javascript_tag "if($$('.edit_book')) $$('.edit_book').first().disable()" %>
