<div class="noblock">
  <% @obj = object %>
  <% data_method = @obj.class == Book ? "book" : "marc" %>
  <% if data_method == "book" %>
    <% title = "Found existing book with ISBN #" + @obj.isbn %>
  <% else %><%# marc %>
    <% title = "Got information from the Library of Congress database" %>
  <% end %>
  <% form_for @obj, :url => "nowheresville" do |f| %>
  <%= render :partial => "book_form", :locals => {:f => f, :disabled => true, :title => title} %>
<% end %>
<% @blah = OpenStruct.new %>
  <% if data_method == "book" %>
    <% action = "redirect_to_show_book" %>
    <% @blah.book_id = @obj.id %>
  <% else %><%# marc %>
    <% action = "create_from_marc" %>
    <% @blah.marc = @obj.to_s %>
  <% end %>
  <% form_for @blah, :url => {:action => action} do |f| %>
  <% if data_method == "book" %>
    <%= f.hidden_field "book_id" %>
  <% else %><%# marc %>
    <%= f.hidden_field "marc" %>
  <% end %>
  <%= submit_tag 'Go' %>
<% end %>
</div>

