<h1><%= @contact.display_name %></h1>
<%= render :partial => 'overdue' %>
<h2>Checked Out</h2>
<table border="1" style="border-collapse: collapse;">
<%= render :partial => 'copies' %>
</table>
<%= render :partial => 'history' %>
