<div class="noprint">
<% form_for "", nil, :url => {:action => defined?(action) ? action : "show" }, :html => {:method => "get"} do |f| %>
<%= f.label(:id, defined?(idlabel) ? idlabel : "RT Ticket #").sub(/\[id\]/, "id") %>
<%= (f.text_field "id").sub(/\[id\]/, "id") %>
<%= submit_tag defined?(text) ? text : 'Show Work Order', :style => "clear: left" %>
<% end %>
</div>
